/* -------------------- Padrões Gerais -------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.botoes{
    width:20vw;
    align-self:center;
    justify-content: center;
    font-size:1em;
    font-weight: bold;
    background-color: #444444;
}

.botoes:hover{
    background-color: #555555;
    transition: background-color 0.5s ease-in-out;
}


@media (max-width:600px) {
    .botoes{
        width:25vw;
    }
    .botoes:hover{
        background-color: #444444;
    }    
}

.align-right{
    display:flex;
    justify-content:right;
}

.align-left{
    display:flex;
    justify-content:left;
}

.centralizando{
    display:flex;
    justify-content:center;
    align-self:center;
}

.justify-text{
    text-align:justify;
}

.mt-30 {
    margin-top: 30px;
}

/* -------------------- Fim dos Padrões Gerais -------------------- */



/* ----------------------- Novo Menu ------------------- */

#menu-personalizado {
    background-color: #333333;
} 

#menu-personalizado #conteudoNavbarSuportado {
    flex-grow: initial;
    margin-left: auto;
    margin-right: 10.1vw;
}

#menu-personalizado li {
    margin: 0 2%;
}

#menu-personalizado li a {
    text-decoration: none;
    background-color: #444444;
    color:white;
    padding: 8px;
    display:flex;
    font-size:0.9em;
    border: 1px solid transparent;
    border-radius: 0.3rem;
}

#menu-personalizado a p{
   margin: 0;
   padding: 0;
}

#menu-personalizado a svg{
    visibility: hidden;
    width: 0;
    height: 0;
}

#menu-personalizado li a:hover{
    background-color: #555555;
    transition: background-color 0.5s ease-in-out;
}


@media (max-width: 991px) {
    #menu-personalizado {
        flex-direction: row-reverse;
    }

    #menu-personalizado li a {
        background-color: #463c3c00;

    }

    #menu-personalizado li a:hover{
        background-color: #463c3c00;
    }

    #menu-personalizado a svg{
        visibility: visible;
        width: auto;
        height: auto;
        color: #eee;
        margin-right: 0.5rem;
        
    }

    #menu-personalizado .navbar-toggler {
        margin-left: 10px;
        margin-right: -50px;
    }

    #menu-personalizado #logo-mobile {
        margin: 0 auto;
    }
    #menu-personalizado #logo-mobile img{
        margin: 0;
    }
}

/* -------------------- Corpo do Site -------------------- */



/* -------------------- Slide -------------------- */


/* -------------------- Nossa Trajetória -------------------- */

.trajetoria{
    background-color:#222222; 
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 30px 0px;
}

.circulo_amarelo{
    border-radius: 50%;
    height:85vh;
    width:85vh;
    display:flex;
    background-color:#f1be2d;
}

.trajetoria2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circulo_amarelo h1 {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.4rem;
}

.circulo_amarelo h2{
    color:#000000;
    justify-content:center;
    display:flex;    
    font-size:3.0em; 
    margin-bottom: 35px;
}

.circulo_amarelo p{
    color:#000000;
    justify-content:center;
    display:flex;  
    width: 80%;
    text-align: center;  
    font-size:1rem;
    margin-bottom: 3vw;
}

@media(max-width: 599px) {
    .circulo_amarelo {
        height: 90vw;
        width: 90vw;
    }

    .circulo_amarelo h1 {
        font-size: 0.8rem;
        margin: 0 0 1vw 0;
    }
    
    .circulo_amarelo h2{
        font-size: 1.0rem; 
        margin: 0 0 1vw 0;
    }
    
    .circulo_amarelo p{
        font-size:0.6rem;
        margin: 0 0 1vw 0;
    }
}

@media(min-width: 600px) and (max-width: 1099px){
    .circulo_amarelo {
        height: 500px;
        width: 500px;
    }

    .circulo_amarelo h1 {
        font-size: 0.9rem;
        margin: 0 0 1vw 0;
    }
    
    .circulo_amarelo h2{
        font-size: 1.8em; 
        margin: 0 0 1vw 0;
    }
    
    .circulo_amarelo p{
        font-size:0.8rem;
        margin: 0 0 1vw 0;
    }
}

/* -------------------- Chamado -------------------- */

.chamado{
    height:80vh;
    display:flex;
    background-image: url("../imgs/Chamado_foto1.png");
    background-position:center;
    flex-direction: column;
    justify-content:center; /*meio horizontal*/
    text-align: center;
}

.chamado h3, .chamado h2, .chamado span{
    display:flex;
    justify-content:center; /*meio horizontal*/
    align-items: center;  /*meio vertical*/
}

.hr1{
    margin-bottom: 20vh;
}

.hr2{
    margin-top:20vh;
}

.chamado button{
    margin-top:20px;
}

.chamado span{
    font-size:1.3rem;
}

/* -------------------- Rodapé -------------------- */

footer{
    height: 15vh;
    background: #333333;
    color: #eeeeee;
    text-align: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

@media(min-width: 380px) and (max-width: 1439px){
    footer{
        height:20vh;
    }
}

@media(max-width: 379px){
    footer{
        height:30vh;
    }
}

