/* Desktop - 1280px - 1400px */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------- Menu -------------------- */

header {
    position:fixed;
    background: #333333;
    width: 100%;
    z-index:1;
}

header ul{
    padding:0;
    margin:0;
}

header li {
    list-style: none;
    margin:0 1%;
}

header a:link, header a:visited{
    text-decoration: none;
    background-color: #444444;
    color:white;
    padding: 8px;
    display:flex;
    text-align: center;
    font-size:0.9em;
}

header a:hover, header a:active{
    background-color: #424242;
    color:rgb(233, 233, 233);
}

.bg-menu{
    height:70px;
}

.bg-menu ul {
    display:flex;
    align-items: center;
    height: 100%;
}

.centralizando{
    display:flex;
    justify-content:center; /*meio horizontal*/
    align-self:center;
}

.logos{
    height:40px;
}

@media (max-width: 767px){
    .logos{  
        display:flex;
        float:left;
        justify-content:center; /*meio horizontal*/
        align-items: center;  /*meio vertical*/ 
    }
}

/* -------------------- Corpo do Site -------------------- */



/* -------------------- Slide -------------------- */

.carousel-inner{
    top:70px;
    padding-bottom:70px;
}

/*
.carousel-inner{
    top:70px;
    height:800px;
    width: 100%;
    z-index:0;
    position:relative;
}

.slide{
    justify-content:center;
    position:absolute;
    display:flex;
}*/

/* -------------------- Nossa Trajetória -------------------- */

.trajetoria{
    background-color:#222222; 
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 30px 0px;
}

.circulo_amarelo{
    border-radius: 50%;
    height:85vh;
    width:85vh;
    display:flex;
    background-color:#f1be2d;
}

.trajetoria2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circulo_amarelo h1 {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.4rem;
}

.circulo_amarelo h2{
    color:#000000;
    justify-content:center;
    display:flex;    
    font-size:3.0em; 
    margin-bottom: 35px;
}

.circulo_amarelo p{
    color:#000000;
    justify-content:center;
    display:flex;  
    width: 80%;
    text-align: center;  
    font-size:1rem;
    margin-bottom: 45px;
}

.trajetoria button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 66px;
}

@media(max-width: 599px) {
    .circulo_amarelo {
        height: 90vw;
        width: 90vw;

    }

    .circulo_amarelo h1 {
        font-size: 0.4rem;
        margin: 0px;
    }
    
    .circulo_amarelo h2{
        font-size: 1.0rem; 
        margin: 0px;
    }
    
    .circulo_amarelo p{
        font-size:0.5rem;
    }
    
    .trajetoria button{
        width: 150px;
        height: 48px;
    }
}

@media(min-width: 600px) and (max-width: 1099px){
    .circulo_amarelo {
        height: 500px;
        width: 500px;
    }

    .circulo_amarelo h1 {
        font-size: 0.9rem;
    }
    
    .circulo_amarelo h2{
        font-size: 1.8em; 
    }
    
    .circulo_amarelo p{
        font-size:0.8rem;
    }
    
    .trajetoria button{
        width: 150px;
        height: 48px;
    }
}

/* -------------------- Chamado -------------------- */

.chamado{
    height:80vh;
    display:flex;
    background-image: url("../imgs/Chamado_foto1.png");
    background-position:center;
    flex-direction: column;
    justify-content:center; /*meio horizontal*/
}

.chamado h3, .chamado h2, .chamado span{
    display:flex;
    justify-content:center; /*meio horizontal*/
    align-items: center;  /*meio vertical*/
}

.chamado button{
    margin-top:20px;
    width:200px;
    align-self:center;
}

.chamado span{
    font-size:1.3rem;
}

/* -------------------- Rodapé -------------------- */

footer{
    height: 15vh;
    background: #333333;
    color: #eeeeee;
    text-align: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

@media(min-width: 380px) and (max-width: 1439px){
    footer{
        height:20vh;
    }
}

@media(max-width: 379px){
    footer{
        height:30vh;
    }
}

