/* Desktop - 1280px - 1400px */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

header, footer {
    background: #333333;
    width: 100%;
}

header {
    position:fixed;
    height:70px;
}

header li {
    list-style: none;
    margin:25px 2%;
}

header a:link, header a:visited{
    text-decoration: none;
    background-color: #444444;
    color:white;
    padding: 8px;
    display:flex;
    text-align: center;
    font-size:1em;
}

header a:hover, header a:active{
    background-color: #424242;
    color:rgb(233, 233, 233);
}

body{
    height: 1600px;
}

footer{
    height: 90px;
    width: 100%;
    background: #333333;
    color: #eeeeee;
    text-align: center;
    top:100%;
    position:absolute;
}

.bg-menu {
    display: flex;
}

.bg-menu nav {
    height:70px;
    top: -10px;
    position:relative;
}

.bg-menu ul {
    display:flex;
    align-items: center;
}

.bg-menu div:last-child img {
    text-align: right;
}

.menu{
    max-height: 70px;
    margin-top: 9px;
}

.endereco{
    margin-top: 1%;
}

