/* -------------------- Padrões Gerais -------------------- */

.mt-30{
    margin-top:30px;
}

/* -------------------- Telas -------------------- */

.tela1, .tela2,.tela3{
    padding: 20px 0;
}

.tela1{
    background-color:#EEEEEE;
    z-index:1;
    position: relative;
}
.tela2{
    background-color:#F1BE2D;
}
.tela3{
    background-color:#333333;
    color:white;
}

.date{
    text-decoration: underline;
}
/*
.triangulo_branco{
    border: 10em solid;
    border-color: transparent #EEEEEE transparent transparent;
    width: 0;
    height: 0; 
}*/

/* ---------------- Fim das telas ---------------- */