
/* -------------------- Padrões Gerais -------------------- */


/* -------------------- Telas -------------------- */

.tela1, .tela2,.tela3{
    padding: 20px 0;
    min-height:30vh;
    align-items: center;
    margin:0;
}

.tela1{
    background-color:#EEEEEE;
}
.tela2{
    background-color:#333333;
    color:white;
}
.tela3{
    background-color:#F1BE2D;
}

.circulo_preto{
    border-radius: 50%;
    height:50vh;
    width:100%;
    display:flex;
    background-color:#333333;
    justify-content:center;
    align-self:end;
    margin: 0 0 -20vh 20vw;
}

@media (max-width: 1399px){
    .circulo_preto{
        width:100vw;
    }
}

.circulo_branco{
    border-radius: 50%;
    height:60vh;
    width:60vh;
    display:flex;
    background-color:#EEEEEE;
    justify-content:center;
    align-self:end;
    margin-bottom:-20vh;
}

.circulo_amarelo2{
    border-radius: 50%;
    height:60vh;
    width:60vh;
    display:flex;
    background-color:#F1BE2D;
    justify-content:center;
    align-self:end;
    margin: 0 0 -20vh 20vw;
}

.img_responsiva{
    height:25vh;
    width:25vh;
    align-self:center;
    margin-bottom:10vh;
}


/* ---------------- Fim das telas ---------------- */