
/* -------------------- Padrões Gerais -------------------- */


/* -------------------- Telas -------------------- */

.tela1, .tela2,.tela3{
    padding: 20px 0;
    min-height:30vh;
    align-items: center;
    margin:0;
}

.tela1{
    background-color:#EEEEEE;
}

.tela2{
    background-color:#333333;
    color:white;
}

.tela3{
    background-color:#F1BE2D;
}

.circulos{
    border-radius: 50%;
    height:45vw;
    width:45vw;
    display:flex;
    justify-content:center;
    align-self:end;
    margin: 0 0 -20vh 0;
}

.circulo_preto{
    background-color:#333333;
}

.circulo_branco{
    background-color:#EEEEEE;
    margin: 0 0 -20vh 0;
}

.circulo_amarelo2{
    background-color:#F1BE2D;
}

.img_responsiva{
    height:35vh;
    align-self:center;
}

.img_esquerda{
    margin: -10vh 0 0 0;
}

.img_direitas{
    margin: -10vh 0 0 0;
}

@media (min-width: 1000px) and (max-width: 1399px){

    .circulos{
        height:40vw;
        width:40vw;
        margin: 0 0 -20vh 0;
    }

    .img_responsiva{
        height:22vh;
    }

    .img_esquerda{
        margin: -10vh 0 0 0; 
    }
    
    .img_direitas{
        margin: -10vh 0 0 0;
    }
}

@media (min-width: 800px) and (max-width: 999px){

    .circulos{
        height:40vh;
        width:40vh;
        margin: 0 0 -15vh 0;
    }

    .circulo_branco{
        margin: 0 0 -15vh 0;
    }

    .img_responsiva{
        height:20vh;
    }

    .img_esquerda{
        margin: -8vh 0 0 0;  
    }
    
    .img_direitas{
        margin: -8vh 0 0 0;
    }
}

@media (min-width: 600px) and (max-width: 799px){

    .circulos{
        height:30vh;
        width:30vh;
        margin: 0 0 -25vh 0;
    }

    .circulo_branco{
        margin: 0 0 -5vh 5vh;
    }

    .img_responsiva{
        height:18vh;
    }

    .img_esquerda{
        margin: -3vh 0 0 0;  
    }
    
    .img_direitas{
        margin: -3vh 0 0 0;
    }
}

@media (max-width: 599px){

    .circulos{
        height:30vh;
        width:30vh;
        margin: 0 0 -30vh 0;
    }

    .circulo_branco{
        margin: 0 0 -10vh 0;
    }

    .img_responsiva{
        height:14vh;
    }

    .img_esquerda{
        margin: 0;    
    }
    
    .img_direitas{
        margin: 0;    
    }
}

/* ---------------- Fim das telas ---------------- */