/* -------------------- Corpo do Site -------------------- */

.main-qs{
    background-color: #eeeeee;
    text-align: center;
    padding-bottom:20px;
}

.centraliza-texto{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

.titulo-grande{
    font-size:2rem;
    color: #000;  
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paragrafo{
    text-align: justify;
    color: #000;
    font-size: 1rem;
}

.main-mvv{
    background-color: #F1BE2D;
    padding: 20px 0;
}

.titulo-medio{
    font-size: 1.6rem;
    color: #000;
    padding: 0;
    text-transform: uppercase;
}

.main-mvv ul{
    padding: 0;
    list-style-position: inside;
    color: #000;
    margin-bottom: 0;
}
.main-mvv ul li{
    font-size: 1rem;
}
.main-participantes {
    font-size: 1.5rem;
    color: #000;
}

.participantes{
    background-color: #333;
    color: white;
}

.participantes .titulo-grande{
    color: white;
}

.img-circle{
    border-radius: 50%;
    border: 2px solid white;
    width: 13.75rem;
    height: 12.66rem;
    max-width: 100%;
    object-fit:cover;
}

.participantes p, .ex-participantes p{
    display: inline-block;
    margin-left: 1.5rem;
}

.container-card{
    margin-bottom: 2rem;   
}

.container-card:last-child {
    margin-bottom: 3rem;
}

.ex-participantes{
    background-color: #F1BE2D;
}

.ex-participantes .img-circle{
    width: 11.25rem;
    height: 10.36rem;
}

.coordenadores{
    text-align: center;
}

.coordenadores .img-circle{
    width: 18.75rem;
    height: 18.75rem;
    display: block;
    margin: auto;
}

.coordenadores p{
    display: inline-block;
    padding-top: 1rem;
}

/* ----------------------- Medias ----------------------- */


@media(max-width:599px){
    .titulo-grande{
        font-size:1.6rem;
    }
    
    .img-circle{
        width: 7.12rem;
        height: 7.25rem;
    }

    .participantes p, .ex-participantes p{
        display: inline-block;
        margin-left: 1.5rem;
        font-size: 1.13rem;
        
    }

    .ex-participantes .img-circle{
        width: 5.91rem;
        height: 6rem;
    }
}

@media(min-width:600px) and (max-width:1099px){
    .titulo-grande{
        font-size:1.7rem;
    }    
}