/* -------------------- Corpo do Site -------------------- */

.main-qs{
    background-color: #eeeeee;
    text-align: center;
    padding-bottom:20px;
}

.centraliza-texto{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

.titulo-grande{
    font-size:2rem;
    color: #000;  
    text-transform: uppercase;
    margin: 20px;
}

.paragrafo{
    text-align: justify;
    color: #000;
    font-size: 1rem;
}

.main-mvv{
    background-color: #F1BE2D;
    padding: 20px 0;
}

.titulo-medio{
    font-size: 1.6rem;
    color: #000;
    padding: 0;
    text-transform: uppercase;
}

.main-mvv ul{
    padding: 0;
    list-style-position: inside;
    color: #000;
    margin-bottom: 0;
}
.main-mvv ul li{
    font-size: 1rem;
}
.main-participantes {
    font-size: 1.5rem;
}

.main-participantes h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.participantes{
    background-color: #333;
    color: white;
}

.participantes h2{
    color: white;
}

.participantes img{
    border-radius: 50%;
    border: 2px solid white;
    width: 13.75rem;
    height: 12.66rem;
    max-width: 100%;
    object-fit:cover;
}
.participantes p{
    display: inline-block;
    margin-left: 1.5rem;
}
.container-card{
    margin-bottom: 2rem;   
}

.container-card:last-child{
    margin-bottom: 3rem;
}

/* ----------------------- Medias ----------------------- */


@media(max-width:599px){
    .titulo-grande{
        font-size:1.6rem;
    }        
}

@media(min-width:600px) and (max-width:1099px){
    .titulo-grande{
        font-size:1.7rem;
    }    
}